:root {
  font-family: 'Yekan Bakh', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #090101;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Yekan Bakh', sans-serif;
  box-sizing: border-box;
  margin: 0; 
  text-align: end;
}

body {
  font-family: 'Yekan Bakh', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  min-height: 100vh;
  text-align: end;
}
